/* COLORES */
/* ### Primary */
/* ### Neutral */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif; }

.font-weight--500 {
  font-weight: 500; }

.font-weight--600 {
  font-weight: 600; }

.font-size--1 {
  font-size: 1.1rem; }

.font-size--2 {
  font-size: 1.5rem; }

.color--white {
  color: white; }

.color--Light-gray {
  color: #cfcfcf; }

.color--Light-gray-70 {
  color: rgba(207, 207, 207, 0.7); }

.color--Light-gray-50 {
  color: rgba(207, 207, 207, 0.5); }

.color--Very-dark-grayish-blue {
  color: #48556a; }

.color--Very-dark-grayish-blue-50 {
  color: rgba(72, 85, 106, 0.5); }

.color--Very-dark-grayish-blue-70 {
  color: rgba(72, 85, 106, 0.7); }

.py--1 {
  padding: 10px 0; }

.border--moderate-violet {
  border: 2px solid #7541c8; }

body {
  background-color: #ecf2f8; }

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contenedor {
  display: grid;
  grid-template-areas: "card-1 card-1 card-2 card-5" "card-3 card-4 card-4 card-5";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  width: 70%; }
  .contenedor .card {
    padding: 20px;
    border-radius: 10px; }
    .contenedor .card .card__divImg {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .contenedor .card .card__divImg img {
        width: 40px;
        margin-right: 10px;
        border-radius: 50%; }
      .contenedor .card .card__divImg .card__divSpan {
        flex-direction: column; }
        .contenedor .card .card__divImg .card__divSpan span {
          display: inline-block;
          margin-left: 10px; }
  .contenedor .card-1 {
    grid-area: card-1;
    background-color: #7541c8;
    position: relative;
    z-index: 10; }
    .contenedor .card-1::after {
      content: "";
      position: absolute;
      right: 80px;
      top: 0;
      background-image: url("../images/bg-pattern-quotation.svg");
      width: 100px;
      height: 100px;
      z-index: -1; }
  .contenedor .card-2 {
    grid-area: card-2;
    background-color: #48556a; }
  .contenedor .card-3 {
    grid-area: card-3;
    background-color: white; }
  .contenedor .card-4 {
    grid-area: card-4;
    background-color: #19212e; }
  .contenedor .card-5 {
    grid-area: card-5;
    background-color: white; }

@media (max-width: 500px) {
  section {
    height: auto; }
  .contenedor {
    display: grid;
    grid-template-areas: "card-1" "card-2" "card-3"  "card-4" "card-5";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 25px;
    width: 100%; }
    .contenedor .card {
      margin: 0 25px; } }
