@import 'variables';


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


.font-weight--500{
    font-weight: 500;
}
.font-weight--600{
    font-weight: 600;
}
.font-size--1{
    font-size: 1.2rem;
}
.font-size--2{
    font-size: 1.6rem;
}
.color--white{
    color: $White;
}
.color--white-50{
    color: hsla(0, 0%, 100%, 0.5);
}
.color--Light-gray{
    color: $Light-gray;
}



.py--1{
    padding: 10px 0;
}
.border--moderate-violet{
border: 2px solid $Moderate-violet;
}
body{
    background-color: $Light-grayish-blue;
}
section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor{
    display: grid;
    grid-template-areas: "card-1 card-1 card-2 card-5"
                        "card-3 card-4 card-4 card-5";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    width: 70%;

    .card{
        padding: 20px;
        border: 3px solid blue;
        border-radius: 10px;

        .card__divImg{
            display: flex;
            flex-direction: row;
            align-items: center;

            img{
                width: 30px;
                margin-right: 10px;
                border-radius: 50%;
                
            }

            .card__divSpan{
                flex-direction: column;
                
                span{
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }
    
    .card-1{ 
        grid-area: card-1;
        background-color: $Moderate-violet;
        position: relative;
        z-index: 10;
        &::after{
            content: "";
            position: absolute;
            right: 80px;
            top: 0;
            background-image: url("../images/bg-pattern-quotation.svg");
            width: 100px;
            height: 100px;
            z-index: -1;
        }
    }
    .card-2{
        grid-area:card-2;
    }
    .card-3{ 
        grid-area:card-3;
    }
    .card-4{ 
        grid-area: card-4;
        
    }
    .card-5{ 
        grid-area:card-5;
    }

    }